
page-prayers {
  .background {
    background-color: color($colors, background);
  }

  ion-fab {
    position: fixed;
    bottom: 54px;
    right : 5px;
    margin-right: auto;
    margin-left: auto;
  }

  #card-content {
    padding: 0px 15px;
  }

  .date{
    font-size: 10px;
  }

  .centeralize {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .share{
    margin: auto;
  }

  ion-title{
    font-family: 'Amaranth', sans-serif;
  }
  ion-spinner * {
    width: 38px;
    height: 38px;
    stroke: #444;
    fill: #222;
  }
  div.spinner {
    width: 40px;
    height: 40px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
  }
}
