<ion-header>

  <ion-navbar color="navbar">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
  <form #f="ngForm" (ngSubmit)="onLogin(f)">
  <ion-list>
    <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" name="username" required [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" required [(ngModel)]="password"></ion-input>
      </ion-item>
      <br>
      <div *ngIf="isLoading" class="spinner">
          <ion-spinner icon="android"></ion-spinner>
      </div>
      <button *ngIf="!isLoading" ion-button type="submit" padding block [disabled]="!f.valid">
        <span>Login</span>
      </button>
    </ion-list>
  </form>
</ion-content>
