<ion-header>

  <ion-navbar color="navbar">
    <ion-title text-center>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
  <ion-list>
    <button ion-item (tap)="onOpenProfile()">
      <ion-icon name="person" item-start></ion-icon>
      <ion-label>My Profile</ion-label>
    </button>
    <button ion-item (tap)="onEditProfile()">
      <ion-icon name="construct" item-start></ion-icon>
      <ion-label>Edit Profile</ion-label>
    </button>
    <button ion-item *ngIf="isLeader" (tap)="onEditChurch()">
      <ion-icon name="build" item-start></ion-icon>
      <ion-label>Edit Church</ion-label>
    </button>
    <button *ngIf="onDevice()" ion-item (tap)="onUpdate()">
      <ion-icon name="download" item-start></ion-icon>
      <ion-label>Check for Update</ion-label>
    </button>
    <ion-item *ngIf="onDevice()">
      <ion-icon name="alert" item-start></ion-icon>
      <ion-label>Local Notifications</ion-label>
      <ion-toggle [(ngModel)]="notify" (ionChange)="onToggleNotify()"></ion-toggle>
    </ion-item>
    <button ion-item (tap)="onLogout()">
      <ion-icon name="log-out" item-start></ion-icon>
      <ion-label>Logout</ion-label>
    </button>
  </ion-list>
</ion-content>