<ion-header>

  <ion-navbar hideBackButton color="navbar">
    <ion-searchbar (ionInput)="onSearch($event, profile)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (tap)="onClose()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-segment [(ngModel)]="profile">
    <ion-segment-button value="people">
      People
    </ion-segment-button>
    <ion-segment-button value="church">
      Church
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content class="background">


  <div [ngSwitch]="profile">
    <div *ngSwitchCase="'people'">
        <div *ngIf="isLoading" class="spinner">
            <ion-spinner icon="android"></ion-spinner>
        </div>
      <ion-list>
        <div *ngFor="let item of People">
          <ion-item>
            <ion-avatar item-start (tap)="goToProfile(item.username)">
              <img [src]="item.proPic">
            </ion-avatar>
            <h2 (tap)="goToProfile(item.username)">
              {{item.name}}
            </h2>
            <ion-note (tap)="goToProfile(item.username)">
              {{item.username}}
            </ion-note>
            <div *ngIf="!isFriend(item.username)" item-end>
              <button
                ion-button item-end color="secondary"
                *ngIf="!isPendingFriend(item.username) && !hasRequested(item.username)"
                (tap)="addAsFriend(item.username)">
                <ion-icon name="person-add" item-start></ion-icon>
                &nbsp;Befriend
              </button>
              <button
                *ngIf="isPendingFriend(item.username)"
                (tap)="cancelFriendReq(item.username)"
                ion-button item-end color="dark">
                <ion-icon name="clock" item-start></ion-icon>
                &nbsp;Requested
              </button>
              <button
                no-margin ion-button item-end color="secondary"
                *ngIf="hasRequested(item.username)"
                (tap)="handlefriendReq(item.username, true)">
                &nbsp;Accept
              </button>
              <button
                no-margin ion-button item-end color="danger"
                *ngIf="hasRequested(item.username)"
                (tap)="handlefriendReq(item.username, false)">
                &nbsp;Reject
              </button>
            </div>
          </ion-item>

        </div>
      </ion-list>
    </div>
<!-- add action sheet for responding -->
    <div *ngSwitchCase="'church'">
        <div *ngIf="isLoading" class="spinner">
            <ion-spinner icon="android"></ion-spinner>
        </div>
      <ion-list >

        <ion-item *ngFor="let item of Churches">
          <ion-avatar item-start (click)="goToChurch(item.churchId)">
            <img [src]="item.proPic">
          </ion-avatar>
          <h3 (click)="goToChurch(item.churchId)">
            {{item.churchName}}
          </h3>
          <p (click)="goToChurch(item.churchId)">
            {{item.churchId}}
          </p>
          <div *ngIf="!following(item.churchId) && authSer.getChurchId()" item-end>
            <button
              ion-button
              item-end
              color="secondary"
              *ngIf="!pendingFollowReq(item.churchId)"
              (tap)="followChurch(item.churchId)">
              <ion-icon name="person-add" item-start></ion-icon>
              &nbsp;Follow
            </button>
            <button
              *ngIf="pendingFollowReq(item.churchId)"
              (tap)="cancelfollow(item.churchId)"
              ion-button item-end color="dark">
              <ion-icon name="clock" item-start></ion-icon>
              &nbsp;Requested
            </button>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>


</ion-content>

<!--
          <div *ngIf="getMyChurch" item-end>
              <button
                ion-button
                item-end
                color="secondary"
                *ngIf="!pendingMembReq(item.churchId)"
                (tap)="sendMembReq(item.churchId)">
                <ion-icon name="person-add" item-start></ion-icon>
                &nbsp;Join
              </button>
              <button
                *ngIf="pendingMembReq(item.churchId)"
                (tap)="cancelMembReq(item.churchId)"
                ion-button item-end color="dark">
                <ion-icon name="clock" item-start></ion-icon>
                &nbsp;Requested
              </button>
            </div> -->
