<ion-header>

  <ion-navbar color="navbar">
    <ion-title>edit-profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
    <form #f="ngForm" (ngSubmit)="onUpdate(f)">
        <ion-list>
          <ion-item>
              <ion-label floating>Name</ion-label>
              <ion-input type="text" name="name" required ngModel></ion-input>
            </ion-item>
            <br>
            <div *ngIf="isLoading" class="spinner">
                <ion-spinner icon="android"></ion-spinner>
            </div>
            <button *ngIf="!isLoading" ion-button type="submit" padding block [disabled]="!f.valid">
              <span>Update</span>
            </button>
          </ion-list>
        </form>
</ion-content>
