<ion-header>

  <ion-navbar color="navbar" no-border-bottom>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
  <div no-border-top>
    <ion-segment [(ngModel)]="reg">
      <ion-segment-button value="member">
        Member
      </ion-segment-button>
      <ion-segment-button value="church">
        Church
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="reg">
    <form [formGroup]="membForm" (ngSubmit)="onRegister('memb')" *ngSwitchCase="'member'">
      <ion-list>
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Church Id*</ion-label>
          <ion-input type="text" formControlName="churchId"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <br>
        <div *ngIf="!membForm.get('username').valid && membForm.get('username').touched" class="help-box">
          <li>
            <ul>Minimum length of Username is 6</ul>
            <ul>No Caps and special characters are allowed in Username</ul>
          </li>
        </div>
        <div *ngIf="!membForm.get('password').valid && membForm.get('password').touched" class="help-box">
            <li>
              <ul>Minimum length of Password is 6</ul>
            </li>
          </div>
        <button *ngIf="!isLoading" ion-button [disabled]="!membForm.valid" type="submit" block>Register
        </button>
        <div padding-horizontal>
          <p>* - Not Required</p>
        </div>
      </ion-list>
    </form>


    <form [formGroup]="churchForm" (ngSubmit)="onRegister('church')" *ngSwitchCase="'church'">
      <ion-list>
        <div formGroupName="leaders">
          <ion-item>
            <ion-label floating>Leader Name</ion-label>
            <ion-input type="text" formControlName="leadName" >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Leader Id</ion-label>
            <ion-input type="text" formControlName="leadId" >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password" >
            </ion-input>
          </ion-item>
        </div>
        <ion-item>
          <ion-label floating>Church Name</ion-label>
          <ion-input type="text" formControlName="churchName">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Church Id</ion-label>
          <ion-input type="text" formControlName="churchId" >
          </ion-input>
        </ion-item>
        <br>
        <div *ngIf="!churchForm.get('churchId').valid && churchForm.get('churchId').touched" class="help-box">
            <li>
              <ul>Minimum length of Church Id is 6</ul>
              <ul>No Caps and special characters are allowed in Church Id</ul>
            </li>
          </div>
          <div *ngIf="!churchForm.get('leaders.leadId').valid && churchForm.get('leaders.leadId').touched" class="help-box">
              <li>
                <ul>Minimum length of Leader Id is 6</ul>
                <ul>No Caps and special characters are allowed in Leader Id</ul>
              </li>
            </div>
          <div *ngIf="!churchForm.get('leaders.password').valid && churchForm.get('leaders.password').touched" class="help-box">
              <li>
                <ul>Minimum length of Password is 6</ul>
              </li>
            </div>
        <button *ngIf="!isLoading" ion-button type="submit" [disabled]="!churchForm.valid" block>Register
        </button>
      </ion-list>
    </form>
  </div>
  <div *ngIf="isLoading" class="spinner">
      <ion-spinner icon="android"></ion-spinner>
  </div>
</ion-content>
