<ion-header>

  <ion-navbar color="navbar">
    <ion-buttons *ngIf="isMyProfile" left (tap)="search()">
      <button ion-button icon-only>
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{ username }}</ion-title>
    <ion-buttons right *ngIf="isMyProfile">
      <button ion-button icon-only (tap)="goToOptions()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="background">

  <ion-refresher (ionRefresh)="getProfile($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="spinner">
      <ion-spinner icon="android"></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading && profile.name" no-lines>
    <ion-item  color="background" padding-horizontal padding-top>
      <div item-start class="header-avatar">
        <img [src]="profile.proPic | safeHtml">
      </div>
        <ion-row>
          <ion-col>
            <h4 text-center><b>{{profile.noOfPost}}</b></h4>
            <h6 text-center>Posts</h6>
          </ion-col>
          <ion-col (tap)="gotoInfoPrayees()">
            <h4 text-center><b>{{profile.noOfFriends}}</b></h4>
            <h6 text-center>Prayees</h6>
          </ion-col>
          <ion-col (tap)="gotoInfoFollowing()">
            <h4 text-center><b>{{profile.noOfFollowing}}</b></h4>
            <h6 text-center>Following</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <button ion-button outline small block *ngIf="isMyProfile" (tap)="onEditProfile()">Edit Profile</button>
              <div *ngIf="!isFriend(username) && !isMyProfile" item-end>
                <button
                  ion-button item-end small block color="secondary"
                  *ngIf="!isPendingFriend(username) && !hasRequested(username)"
                  (tap)="addAsFriend(username)">
                  Befriend
                </button>
                <button
                  *ngIf="isPendingFriend(username)"
                  (tap)="cancelFriendReq(username)"
                  ion-button item-end small block color="dark">
                  <ion-icon name="clock" item-start></ion-icon>
                  &nbsp;Requested
                </button>
                <ion-row>
                  <ion-col>
                      <button
                      no-margin ion-button small block item-end color="secondary"
                      *ngIf="hasRequested(username)"
                      (tap)="handlefriendReq(username, true)">
                      Accept
                    </button>
                  </ion-col>
                  <ion-col>
                      <button
                      no-margin ion-button small block item-end color="danger"
                      *ngIf="hasRequested(username)"
                      (tap)="handlefriendReq(username, false)">
                      Reject
                    </button>
                  </ion-col>
                </ion-row>
              </div>
              <button
                ion-button block item-end small outline color="secondary"
                *ngIf="isFriend(username)"
                (tap)="unfriend(username)">
                Unfriend
              </button>
          </ion-col>

        </ion-row>

    </ion-item>
    <ion-item  color="background">
      <div padding-horizontal>
        <h2>
          <b>{{profile.name}}</b>
        </h2>
        <p *ngIf="profile.churchId" (tap)="goToChurch(profile.churchId)">
          {{profile.churchId}}
        </p>
      </div>
    </ion-item>
    <hr>
    <ion-list no-lines class="centeralize" *ngIf="prayerReq.length == 0 && !isLoading">
        <ion-item>
          <h2>No Prayer Requests was Found</h2>
        </ion-item>
        <ion-item *ngIf="isMyProfile">
          <button ion-button block (tap)="createNewPrayer()">Add</button>
        </ion-item>
      </ion-list>
    <ion-card *ngFor="let item of prayerReq; let i = index">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="profile.proPic | safeHtml">
        </ion-avatar>
        <h3>{{profile.name}}</h3>
        <p class="date">{{ item.date | timeAgo}}</p>
        <button ion-button icon-only item-end clear
        (tap)="loadPrayerOptions(item._id, i)">
        <ion-icon name="more"></ion-icon>
      </button>
      </ion-item>
      <ion-card-content id="card-content">
        <h2>{{item.body}}</h2>
      </ion-card-content>
      <ion-row no-padding>
          <ion-col text-end>
            <button ion-button clear small color="primary" icon-start (tap)="sharePrayerReq(i)">
              <ion-icon class="share" name="share-alt"></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
