<ion-header>

  <ion-navbar color="navbar">
    <ion-title text-center>{{ username }}</ion-title>
    <ion-buttons *ngIf="isMyProfile" end (tap)="search()">
      <button ion-button icon-only>
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="cardbg">

  <ion-refresher (ionRefresh)="getProfile($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="spinner">
      <ion-spinner icon="android"></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading" no-lines>
    <ion-item  color="card" padding-horizontal padding-top>
      <div item-start class="header-avatar">
        <img [src]="profile.proPic">
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h6 text-center>{{profile.noOfPost}}</h6>
            <h6 text-center>Posts</h6>
          </ion-col>
          <ion-col (tap)="gotoInfoPrayees()">
            <h6 text-center>{{profile.noOfFriends}}</h6>
            <h6 text-center>Prayees</h6>
          </ion-col>
          <ion-col (tap)="gotoInfoFollowing()">
            <h6 text-center>{{profile.noOfFollowing}}</h6>
            <h6 text-center>Following</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <button ion-button outline small block>Edit Profile</button>
        </ion-row>
      </ion-grid>


    </ion-item>
    <ion-item  color="card">
      <div padding-horizontal>
        <h3>
          {{profile.name}}
        </h3>
        <p>
          {{profile.username}}
        </p>
        <p>
          Attends: {{profile.churchId}}
        </p>
      </div>
    </ion-item>
    <ion-card *ngFor="let item of prayerReq">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="item.proPic">
        </ion-avatar>
        <h3>{{item.username}}</h3>
        <p>
          {{item.churchId}}
        </p>
      </ion-item>
      <ion-card-content>
        <h2>{{item.body}}</h2>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
