<ion-header>

  <ion-navbar color="navbar">
    <ion-buttons right *ngIf="isMyChurch">
      <button ion-button icon-only (tap)="search()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{ churchId }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="background">

  <ion-refresher (ionRefresh)="getProfile($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="spinner">
      <ion-spinner></ion-spinner>
  </div>

  <ion-list no-lines *ngIf="!noChurch && !isLoading">
    <ion-item padding-horizontal padding-top>
      <div item-start class="header-avatar">
        <img [src]="church.proPic | safeHtml">
      </div>
        <ion-row>
          <ion-col>
            <h4 text-center><b>{{church.noOfPost}}</b></h4>
            <h6 text-center>Posts</h6>
          </ion-col>
          <ion-col (tap)="gotoInfoLeaders()">
            <h4 text-center><b>{{church.noOfLeaders}}</b></h4>
            <h6 text-center>Leaders</h6>
          </ion-col>
          <ion-col (tap)="gotoInfoPrayees()">
            <h4 text-center><b>{{church.noOfMembers + church.noOfFollowers}}</b></h4>
            <h6 text-center>Prayees</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col *ngIf="isMyChurch && isLeader">
              <button ion-button outline small block  [disabled]="isButtonDisabled" (tap)="goToEditProfile()">Edit Profile</button>
          </ion-col>

            <ion-col *ngIf="hasRequested() !== churchId && !isMyChurch">
                <button ion-button small block [disabled]="isButtonDisabled"
                  *ngIf="!following(churchId) && !pendingFollowReq(churchId)"
                  (tap)="followChurch()">Follow</button>
                <button ion-button outline small block [disabled]="isButtonDisabled"
                  *ngIf="!following(churchId) && pendingFollowReq(churchId)"
                  (tap)="cancelfollow()">Follow Requested</button>
                <button ion-button outline small block [disabled]="isButtonDisabled"
                  *ngIf="following(churchId)" (tap)="unfollow()">Unfollow</button>
            </ion-col>

            <ion-col *ngIf="!isMyChurch && !authSer.getChurchId() && !pendingFollowReq(churchId)">
                <button ion-button small block [disabled]="isButtonDisabled"
                  *ngIf="!following(churchId) && hasRequested() !== churchId"
                  (tap)="sendMembReq()">Join</button>
                <button ion-button outline small block [disabled]="isButtonDisabled"
                  *ngIf="!following(churchId) && hasRequested() === churchId"
                  (tap)="cancelMembReq()">Member Requested</button>
            </ion-col>

              <ion-col *ngIf="isMyChurch && !isLeader">
                <button ion-button outline small block [disabled]="isButtonDisabled" (tap)="unmember()">Leave</button>
              </ion-col>
        </ion-row>

    </ion-item>
    <ion-item>
      <div padding-horizontal>
        <h2>
          <b>{{church.churchName}}</b>
        </h2>
      </div>
    </ion-item>
    <hr>

    <ion-card padding-bottom *ngFor="let item of prayerReq; let i = index">
      <ion-item>
        <ion-avatar item-start (tap)="goToProfile(item.username)">
          <!-- <img [src]="url + item.username + '.jpg'"> -->
          <img [src]="item.proPic | safeHtml">
        </ion-avatar>
        <h3 (tap)="goToProfile(item.username)">{{item.name}}</h3>
        <p class="date">{{ item.date | timeAgo}}</p>
        <button ion-button icon-only item-end clear
          *ngIf="item.username === getMyUsername() || (isMyChurch && isLeader)"
          (tap)="loadPrayerOptions(item._id, i)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-item>
      <ion-card-content id="card-content">
        <h2>{{item.body}}</h2>
      </ion-card-content>
      <!-- <ion-row no-padding>
          <ion-col text-end>
            <button ion-button clear small color="primary" icon-start (tap)="sharePrayerReq(i)">
              <ion-icon class="share" name="share-alt"></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row> -->
    </ion-card>
  </ion-list>
  <ion-list no-lines class="centeralize" *ngIf="prayerReq.length == 0 && !isLoading">
      <ion-item>
        <h2>No Prayer Requests was Found</h2>
      </ion-item>
    </ion-list>

  <ion-list class="centeralize" no-lines *ngIf="isMyChurch && noChurch && !hasRequested() && !isLoading">
    <ion-item>
      <h2><b>You are not a member of any church</b></h2>
      <h3>Click below to search for your church</h3>
    </ion-item>
    <ion-item>
      <button ion-button block (tap)="searchMyChurch()">Search for Church</button>
    </ion-item>
  </ion-list>

  <ion-list no-lines class="centeralize" *ngIf="isMyChurch && noChurch && hasRequested() && !isLoading">
      <ion-item>
        <h2><b>Your request to {{ hasRequested() }} is pending</b></h2>
        <h3>Click below to search for another church</h3>
      </ion-item>
      <ion-item>
        <button ion-button block (tap)="searchMyChurch()">Search for Another Church</button>
      </ion-item>
    </ion-list>
</ion-content>
